**/.dockerignore
**/.env
**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/TestResults
**/coverage
**/*.user
**/*.suo
**/*.cache
**/*.log
**/wwwroot/images/products/*
!**/wwwroot/images/products/.gitkeep
Dockerfile
docker-compose.yml
